body{
    margin: 0;
    padding: 0;
}

.topo{
    width: auto;
    background-color: #f80032;
    color: white;
    padding: 29px;
    
}

.traco-up{
    width: 157px;
    height: 4px;
    background-color: white;
    margin-left: 75px;
   
}
.traco-down{
    width: 157px;
    height: 4px;
    background-color: white;
    margin-left: 75px;
}
.nome{
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 75px;
    margin-top: -8px;
    margin-bottom: -4px;
    
}
a{
    color: white;
    text-decoration: none;
}



.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 85px;
    font-size: 38px;
    color: #6a6868;
}
.sub{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #898383;
}

.str{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 13px;
    color:#898383 ;
}
.ast{
    color: red;
    margin-right: 6px;
}
.corpo{
    display: flex;
    margin-top: 40px;
}
.esq{
    width: 35%;
}
.ctr{
    width: 30%;
    text-align: left;
    
}
.dir{
    width: 35%;
}
.str-cp{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 13px;
    color:#898383 ;
    padding-top: 35px;
    padding-bottom: 10px;
}
.ast-cp{
    color: red;
    margin-right: 6px;
}
.obr-cp{
    font-size: 17px;
   
}

input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: solid #898383 ;
    font-size: 15px;
}
.instrucao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#898383 ;
    margin-top: -7px;
}
